/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}






/* ////////////////////// START ////////////////////// */


.navbar {
	background-color: #8D90A1;
	display: inline-block;
	line-height:.5em;

}

.navbar a {
	text-decoration: none;
	color: black;
}

#iheader {
	color: #FFF;
	border-style: solid;
	border-width: 1px;
	padding: 8px;
	font-weight: bold;
	margin: 5px;

}

.ironnews {
		font-weight: 600;
		padding-right: 10px;
}

#iheader, .ironnews, .navoptions, .login {
	display: inline-block;
}

.pipe {
	color: #FFF;
	font-weight: 200;
	font-size: 18px;
}

.login {
  top:10px;
  right: 10px;
}

.navoptions li {
display: inline-block;
text-decoration: none;
}

body {
	background-color: #EEF0F3;
	font-family: Verdana, Arial, sans-serif;
	font-size: 14px;
}

ul {
		list-style-type: none;
    margin: 0;
    padding: 0;
}

ol {
	list-style-type: decimal;
	list-style-position: inside;
}

.triangle {
	width: 15px;
	padding-top: 10px;
	content:url(file:///Users/davidgrayboff/Documents/dev_projects/tiy_assignments/assets_images/Screen%20Shot%202016-05-17%20at%204.22.08%20PM.png);
}

.contentlink {
	text-decoration: none;
	color: #939393;
	font-size: smaller;
}

.points {
	font-size: x-small;
	color: #939393;
	text-indent: 40px;
}
